<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="js/application.js"></script>
		<link rel="stylesheet" type="text/css" href="css/styles.css" charset="utf-8" />
	</head>
	<body>
		<div class="header-text">
			<h1>Picture Gallary</h1>
			<%= erb :menu %>
			<h2>About</h2>
		</div>
		<p>This is the trial of web development project. I have build this for learning purpose. It took me 6 days to learn the Ruby and Sinatra and to build this project. I am very much excited to learn more about these and new technologies. So far I have used Ruby, Sinatra, embedded ruby, HTML, CSS, JavaScript, JQuery and PostgreSQL in this project. Out of all these technologies, I have used Ruby, Sinatra, embedded ruby and PostgreSQL first time.</p>
		<p>If you have any suggestion or you want to contribute to this project, feel free to contact me at maulik.pokiya@gmail.com OR please find the code of this entire project on Git <a href="https://github.com/maulikpokiya/ruby-image-gallary" style="text-decoration:none">here</a></p>
		<p>This is my first project in ruby and sinatra. I hope you will like it.</p>
	</body>
</html>
