<html>
	<head>
		<style>
			nav ul li a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<nav>
		  <ul>
			<li><a href="/home" title="Home">Home</a></li>
			<li><a href="/upload" title="Upload">Upload Picture</a></li>
			<li><a href="javascript:searchPic()" title="Search">Search</a></li>
			<li><a href="/" title="Logout">Logout</a></li>
<!--        <li><a href="/about" title="About">About</a></li>
			<li><a href="/contact" title="Contact">Contact</a></li>
-->
		  </ul>
		</nav>
			<div id="search">
			<form method="post" action="/search">
			<input type="text" name="imgSeach">
			<input type="submit" value="search">
			<input type="button" value="Cancel" onClick="cancelSearch()">
			</form>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$('#search').hide();

			function searchPic() {
				$('#search').show();
			}

			function cancelSearch() {
				$('#search').hide();
			}
		</script>
	</body>
</html>