<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Picture Gallary</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<link rel="stylesheet" href="css/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
<div class="register-page">
	<ul>
		<li><a href="#sign_in">Sign In</a></li>
		<li><a href="#sign_up">Sign Up</a></li>
	</ul>
	
	<div id="sign_in" class="forms" style="display:none;">
		<h2>Sign In</h2>
		<form action="/signIn" method="post">
			<p>
				<label for="sign_in_username">Username</label>
				<input type="text" name="sign_in_username" id="sign_in_username" />
			</p>
			<p>
				<label for="sign_in_password">Password</label>
				<input type="password" name="sign_in_password" id="sign_in_password" />
			</p>
			<p>
				<input type="submit" value="Sign In" />
			</p>
		</form>
	</div>
	
	<div id="sign_up" class="forms" style="display:none;">
		<h2>Sign Up</h2>
		<form action="/signUp" method="post">
			<p>
				<label for="sign_up_username">Username</label>
				<input type="text" name="sign_up_username" id="sign_up_username" />
			</p>
			<p>
				<label for="sign_up_password">Password</label>
				<input type="password" name="sign_up_password" id="sign_up_password" />
			</p>
			<p>
				<label for="sign_up_confirmation">Confirm Password</label>
				<input type="password" name="sign_up_confirmation" id="sign_up_confirmation" /> <span></span>
			</p>
			<p>
				<input type="submit" value="Sign Up" />
			</p>
		</form>
	</div>

	<div id="images">
		<h1>Really Cool Pictures</h1>
		<% @pictures.each do |picture| %>
    <a href="<%= picture.sub(/public\//,'') %>" target="_blank"><img src="<%= picture.sub(/public\//, '') %>" width=200 height=200 /></a>
  <% end %>
	</div>
	
</div><!-- register-page end	-->
</body>
</html>
